### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
*.iml
.idea/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Ignore Maven and Gradle build directories
target/
build/

# Ignore class files
*.class

# Ignore Eclipse files
.settings/

# Ignore NetBeans files
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Ignore logs
*.log

# Ignore OS-specific files
Thumbs.db
